<div class="container">
  <div class="greet-container">
    <span>
      Hi,<br />
      I'm <span class="name">Alen</span> Alduk<br />
      Front End Develop<span class="e">e</span>r
    </span>
    <div class="button_container">
    <button class="btn">
      <svg>
        <rect x="0" y="0" fill="none" width="200px" height="60px" />
      </svg>
      <span>Contact Me</span>
    </button>
  </div>
  </div>
  <div class="picture-container">
    <div class="background-container">
      <img src="../../assets/img/profile_picture.png" />
    </div>
  </div>
  <div class="arrow-container">
    <svg class="circle"
      xmlns="http://www.w3.org/2000/svg"
      width="54"
      height="54"
      viewBox="0 0 54 54"
      fill="none"
    >
      <circle cx="27" cy="27" r="26.5" stroke="white" />
    </svg>
    <svg class="arrow"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M12 13.172L16.95 8.22205L18.364 9.63605L12 16L5.63599 9.63605L7.04999 8.22205L12 13.172Z"
        fill="white"
      />
    </svg>
  </div>
</div>
