<div class="container">
    <div class="greet-container">
        <span>
            Hi,<br>
            I'm <span class="name">Alen</span> Alduk<br>
            Front End Develop<span class="e">e</span>r
        </span>
        <button class="btn">
            <svg>
                <rect x="0" y="0" fill="none" width="200px" height="100%"/>
              </svg>
              <span>Contact Me</span>
        </button>
    </div>
    <div class="picture-container">
        <div class="background-container">
            <img src="../../assets/img/profile_picture.png">
        </div>
    </div>
</div>