.container {
  width: 100%;
  height: calc(100vh - 86px);
  margin-top: 86px;
  background-color: #000;
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  display: flex;
  padding-left: 120px;
  padding-right: 120px;
  justify-content: center;
  align-items: flex-start;
  line-height: 90px;
  position: relative;
  box-sizing: border-box;
}

.greet-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
  padding-top: 120px;
  width: 64%;
  height: 50%;
  flex: 1;
  span {
    width: 710px;
  }
}

.btn {
  width: 204px;
  height: 60px;
  font-weight: 100;
  top: 0;
  position: relative;
  background-color: #000;
  border-style: unset;
  font-family: "Inter";
  display: flex;
  align-items: center;
  span {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #2dfcd8;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    width: 200px;
    height: 60px;
    left: 0;
    top: 0;
    position: absolute;
  }

  rect {
    fill: none;
    stroke: #2dfcd8;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
}

.btn:hover {
  cursor: pointer;

  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.picture-container {
  padding-top: 120px;
  width: 376px;
  height: 367px;
  flex-shrink: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-container {
  background-color: #fa2759;
  width: 100%;
  height: 100%;
  border-radius: 227px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
  img {
    position: relative;
    width: 650px;
    height: 400px;
    object-fit: fill;
  }
}

.name {
  color: #fa2759;
}

.e {
  color: #2dfcd8;
}

.arrow-container {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow {
  position: absolute;
  bottom: 23%;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: translateY(5px);
  }
}

@media screen and (min-width: 2440px) {
  .container {
    padding-left: 500px;
    padding-right: 500px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media screen and (max-width: 1250px){
  .greet-container{
    width: 631px;
  }
  
}



@media screen and (max-width: 1024px) {
  .container{
    padding-left: 40px;
    padding-right: 40px;
  }
  .greet-container{
    span{
      width: 500px;
    }
  }
}

@media screen and (max-width: 900px){
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
  .greet-container{
    span{
      width: 452px;
    }
  }
  .picture-container{
    width: 321px !important;
    height: 310px !important;
    img{
      width: 552px !important;
    height: 324px !important;
    }
  }

  .greet-container{
    span{
      width: 318px;
    }
  }
}

@media screen and (max-width: 768px) {
  .picture-container{
    width: 321px !important;
    height: 310px !important;
    img{
      width: 552px !important;
    height: 324px !important;
    }
  }

  .greet-container{
    span{
      width: 300px;
    }
  }
}

@media screen and (max-width: 640px){
  .container{
    flex-direction: column;
    line-height: 45px;
    align-items: center;
  }
  .greet-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    order: 2;
    width: 100%;
    height: 200px;
    padding-top: 40px;
    font-size: 32px;
    span{
      width: 100%;
      text-align: center;
    }
  }
  .picture-container{
    padding-top: 40px;
  }
  .button_container{
    width: 80%;
  }
  .btn{
    width: 100%;
    svg{
      width: 100%;
  }
    rect{
      width: 100%;
    }
  }
  .arrow-container{
    display: none;
  }
}