.container{
    height: 100vh;
    width: 100%;
    background-color: #131111;
    display: flex;
    justify-content: center;
    
    h2{
        margin-top: unset;
        padding-top: 86px;
        color: white;
        font-weight: 500;
        font-size: 36px;
    }
}