<div class="container">
  <div class="header">
    <div class="picture-container">
      <div class="background-container">
        <img src="../../assets/img/no_background_pb2.png" />
      </div>
    </div>
    <div class="about-me-text">
      <h3>About me.</h3>
      <p>
        "I'm a front-end developer, passionate about gaming, coding, and
        perpetual learning."
      </p>
    </div>
  </div>
  <svg
    class="divider"
    xmlns="http://www.w3.org/2000/svg"
    width="100%"
    height="2"
    viewBox="0 0 1099 2"
    fill="none"
  >
    <path d="M0 1H1098.5" stroke="#2DFCD8" />
  </svg>

  <div class="cards-container">
    <div class="card">
      <div class="img_container">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="79"
          height="79"
          viewBox="0 0 79 79"
          fill="none"
        >
          <circle cx="39.5" cy="39.5" r="39.5" fill="#2DFCD8" />
        </svg>
        <img src="../../assets/img/card_img/walk.svg" />
      </div>
      <h4>MY JOURNEY BEGAN</h4>
      <p>
        My journey into the world of web development started with a love for
        gaming, where I learned the value of precision and the art of creating
        immersive experiences.
      </p>
    </div>
    <div class="card">
      <div class="img_container">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="79"
          height="79"
          viewBox="0 0 79 79"
          fill="none"
        >
          <circle cx="39.5" cy="39.5" r="39.5" fill="#2DFCD8" />
        </svg>
        <img src="../../assets/img/card_img/heart.svg" />
      </div>
      <h4>TEAM WORK</h4>
      <p>
        My friendly and collaborative personality ensures that teamwork is
        always a pleasure. Let's work together to create web experiences that
        are not only user-friendly but also aesthetically remarkable.
      </p>
    </div>
    <div class="card">
      <div class="img_container">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="79"
          height="79"
          viewBox="0 0 79 79"
          fill="none"
        >
          <circle cx="39.5" cy="39.5" r="39.5" fill="#2DFCD8" />
        </svg>
        <img src="../../assets/img/card_img/magnifying_glass.svg" />
      </div>
      <h4>PASSION FOR PRECISION</h4>
      <p>
        I have a deep passion for problem-solving and an impeccable eye for
        detail. I approach every project with a dedication to achieving
        perfection in every detail.
      </p>
    </div>
    <div class="card">
      <div class="img_container">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="79"
          height="79"
          viewBox="0 0 79 79"
          fill="none"
        >
          <circle cx="39.5" cy="39.5" r="39.5" fill="#2DFCD8" />
        </svg>
        <img src="../../assets/img/card_img/takeoff.svg" />
      </div>
      <h4>LOVE FOR LEARNING</h4>
      <p>
        In the ever-evolving world of technology, I thrive on staying up-to-date
        with the latest trends, tools, and techniques. This passion for
        continuous improvement fuels my creativity and allows me to deliver
        cutting-edge solutions.
      </p>
    </div>
  </div>
</div>
