<div class="container">
    <div class="header">
        <div class="picture-container">
            <div class="background-container">
              <img src="../../assets/img/profile_picture.png" />
            </div>
          </div>
        <div class="about-me-text">
            <h3>About me.</h3>
            <p>"Im an outdoor sports enthusiast (Kayaking forever) and front
                end developer who loves pushing boundaries!"
            </p>
        </div>  
    </div>
    



</div>  