<div class="container">
<div class="header">
    <h2>Contact me.</h2>
    <span>Get in touch via the form below, or by emailing <a class="mail_link" href="mailto:a.alduk@icloud.com">a.alduk@icloud.com</a> </span>
</div>
<form (submit)="sendMail()" #myForm ngNativeValidate>
    <h4>Name</h4>
    <input type="text" placeholder="Enter your name" name="name" required #nameField>
    <h4>Email address</h4>
    <input type="email" placeholder="Enter your Email address" required #emailField>
    <h4>Message</h4>
    <textarea type="text" required name="message" placeholder="Enter your message" #messageField></textarea>
    <button #sendButton class="btn">
        <svg>
          <rect x="0" y="0" fill="none" width="200px" height="100%" />
        </svg>
        <span>Send</span>
      </button>
</form>

</div>
